// ==================================
// 変数
// ==================================
$color_background: #eee;
$color_main: #29663e;
$color_sub: #d0d927;

$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 20px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3l: 36px;

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;

// =====================================
// base
// =====================================
html, body {
  background: $color_background;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-size: $font-size_default;
  line-height: 1.6;
  font-family: "BlinkMacSystemFont", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif, "Segoe UI Emoji";
  letter-spacing: 2px;
}

* {
  box-sizing: border-box;
}

// =====================================
// @mixin
// =====================================
// TODO: $widthがマジックナンバーになっているので、ブレイクポイントを入力できるようにする
@function vw($size, $width) {
  @return (100 / $width) * $size * 1vw;
}

$breakpoints: (
  'ss': 'screen and (max-width: 560px)',
  'sm': 'screen and (min-width: 561px)',
  'md': 'screen and (min-width: 769px)',
  'lg': 'screen and (min-width: 1194px)',
  'xl': 'screen and (min-width: 1350px)',
  'xxl': 'screen and (min-width: 1900px)',
) !default;

@mixin mq($breakpoint: ss) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
