// ==================================
// 変数
// ==================================
$font-color_default: #000;
$color_corp: #12157b;

$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 20px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3l: 36px;

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;

// =====================================
// base
// =====================================
html, body {
  width: 100%;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-size: $font-size_default;
  line-height: 1.6;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 2px;
}

a {
  color: $font-color_default;
  transition: .2s;
}

a:hover {
  transition: .2s
}

.container_wrapper {
  background: #f6f5f5;
  width: 100%;
  overflow: hidden;
  flex: 1;
}

.site-width {
  width: 980px;
  margin:0 auto;
  padding: $space_3l;
  overflow: hidden;
}

.area-msg {
  color: #d70808;
  padding-bottom: $space_l;
  margin-top: $space_m;
}

.title {
  text-align: center;
  font-size: $font-size_3l;
  margin-bottom: $space_xxl;
  color: $color_corp;
}

.mainContainer {
  box-sizing: border-box;
  width: 680px;
  float: left;
}

// ===================================
// ヘッダー
// ===================================
.header {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  padding-right: $space_xl;
  padding-left: $space_xl;
  display: flex;
  background: $color_corp;
  .site-width {
    width: 980px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    width: 100px;
    height: 70px;
    img {
      width: 100%;
      height: 100%;
      z-index: 2;
    }
  }
  .menu {
    display: flex;
    align-items: center;
    &__item_link {
      color: #fff;
      padding: 10px 15px;
      font-weight: bold;
      font-size: $font-size_default;
    }
    &__item_link:hover {
      text-decoration: underline;
    }
    &__item_img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }
  }
}

// ========================================
// 論文
// ========================================
.contents {
  box-sizing: border-box;
  width: 100%;
  margin: $space_3l 0;
  &__title {
    color: $color_corp;
    font-size: $font-size_l;
    border-bottom: 1px solid $color_corp;
    padding-bottom: $space_s;
  }
  &__container {
    display: flex;
    margin-top: $space_m;
    .content {
      width: 32%;
      background: #fff;
      min-height: 260px;
      padding: $space_m;
      box-sizing: border-box;
      margin-right: 2%;
      margin-top: $space_m;
      transition: all .3s;
      a {
        display: block;
      }
      p {
        height: 50px;
      }
    }
    .content:nth-child(3n) {
      margin-right: 0;
    }
    .content:hover {
      transition: all .3s;
      transform: translateY(-3px);
      box-shadow: 0 0 10px 0 #ddd;
    }
  }
}

// ========================================
// フォーム
// ========================================
.form {
  width: 400px;
  margin: 80px auto;
  padding: $space_l $space_3l;
  background: #fff;
  border-radius: 8px;
  &__title {
    text-align: center;
    font-size: $font-size_xxl;
    color: $color_corp;
  }
  &__container {
    width: 80%;
    margin: $space_xxl auto $space_xl;
    label {
      display: inline-block;
      margin-bottom: $space_m;
    }
    input[type="text"], input[type="password"] {
      display: block;
      width: 100%;
      height: 50px;
      font-size: $font-size_default;
      border: none;
      border-bottom: 2px solid $color_corp;
      padding: $space_m;
      margin-bottom: $space_l;
      box-sizing: border-box;
    }
    .pass_remind:hover {
      color: $color_corp;
    }
  }
}

// ========================================
// マイページフォーム
// ========================================
.postForm {
  border: 3px solid $color_corp;
  background: #fff;
  padding: $space_xl $space_3l;
  &__container {
    margin-bottom: $space_xxl;
  }
  &__label {
    font-weight: bold;
    margin-bottom: $space_m;
    &--must {
      background: #fe8a8b;
      border-radius: 2px;
      color: #fff;
      padding: 3px $space_s;
      font-size: 10px;
      margin-left: $space_s;
      vertical-align: middle;
    }
  }
  &__input {
    width: 100%;
    height: 45px;
    padding: $space_s $space_m;
    border: none;
    background: #f6f5f5;
    box-sizing: border-box;
    &--number {
      width: 35%;
      height: 40px;
      font-size: $font-size_m;
      padding: $space_s;
      border: none;
      background: #f6f5f5;
      box-sizing: border-box;
    }
  }
  &__textarea {
    width: 100%;
    padding: $space_s $space_m;
    border: none;
    background: #f6f5f5;
    box-sizing: border-box;
  }
  &__select {
    font-size: $font-size_m;
    padding: $space_m;
    border: none;
    background: #f6f5f5;
    box-sizing: border-box;
  }
}

// ========================================
// 画像アップロード
// ========================================
.areaDrop {
  width: 30%;
  height: 180px;
  background: #f6f5f5;
  border-radius: 50%;
  color: #ccc;
  text-align: center;
  line-height: 180px;
  position: relative;
  &__inputFile {
    border-radius: 50%;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  &__prevImg {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

// ========================================
// プロフィール
// ========================================
.profileContainer {
  width: 100%;
  background: linear-gradient(#ebefef, #545556);
  .profile {
    display: flex;
    &__img {
      width: 150px;
      height: 150px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    &__info {
      margin-left: $space_xxl;
    }
    &__name {
      font-size: $font-size_xl;
      margin-bottom: $space_xl;
      color: $color_corp;
    }
  }
}

// ========================================
// サイドバー(マイページ)
// ========================================
.sidebarMypage {
  float: left;
  width: 240px;
  min-height: 400px;
  padding: $space_l;
  background: #fff;
  box-sizing: border-box;
  margin-left: 40px;
  a {
    display: block;
    margin-bottom: $space_xxl;
    color: $color_corp;
  }
  a:hover {
    text-decoration: underline;
  }
}

// ========================================
// フッター
// ========================================
.footer {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color_corp;
  color: #fff;
  font-size: $font-size_s;
  padding: $space_s;
}

// ========================================
// ボタン
// ========================================
.btnContainer {
  overflow: hidden;
  text-align: center;
  margin-bottom: $space_m;
  .btn {
    display: inline-block;
    font-size: $font-size_l;
    color: #fff;
    border: none;
    background: $color_corp;
    border-radius: 3px;
    padding: $space_m $space_l;
    margin-top: $space_l;
    &--right {
      float: right;
    }
  }
  .btn:hover {
    cursor: pointer;
  }
}

.sns {
  font-size: $font-size_xl;
}

.mypageLink {
  display: inline-block;
  font-size: $font-size_l;
  color: #fff;
  border-radius: 3px;
  padding: $space_l;
  background: #ea9906;
  margin-left: $space_l;
}

// ========================================
// サクセスメッセージ
// ========================================
.msgSlide {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background: rgba(122, 206, 230, 0.6);
  text-align: center;
  font-size: $font-size_default;
  line-height: 40px;
}

// ========================================
// テキスト
// ========================================
.withdrawMsg {
  text-align: center;
  font-size: $font-size_l;
  margin-bottom: $space_xxl;
  p {
    margin-bottom: $space_l;
  }
}

.textRed {
  color: #d70808;
}

// ========================================
// CKEditor
// ========================================
.ck-editor__editable {
  min-height: 300px;
 }