html,
body {
  width: 100%;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 2px;
}

a {
  color: #000;
  transition: 0.2s;
}

a:hover {
  transition: 0.2s;
}

.container_wrapper {
  background: #f6f5f5;
  width: 100%;
  overflow: hidden;
  flex: 1;
}

.site-width {
  width: 980px;
  margin: 0 auto;
  padding: 40px;
  overflow: hidden;
}

.area-msg {
  color: #d70808;
  padding-bottom: 15px;
  margin-top: 10px;
}

.title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
  color: #12157b;
}

.mainContainer {
  box-sizing: border-box;
  width: 680px;
  float: left;
}

.header {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  background: #12157b;
}

.header .site-width {
  width: 980px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  width: 100px;
  height: 70px;
}

.header__title img {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header .menu {
  display: flex;
  align-items: center;
}

.header .menu__item_link {
  color: #fff;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 16px;
}

.header .menu__item_link:hover {
  text-decoration: underline;
}

.header .menu__item_img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.contents {
  box-sizing: border-box;
  width: 100%;
  margin: 40px 0;
}

.contents__title {
  color: #12157b;
  font-size: 20px;
  border-bottom: 1px solid #12157b;
  padding-bottom: 5px;
}

.contents__container {
  display: flex;
  margin-top: 10px;
}

.contents__container .content {
  width: 32%;
  background: #fff;
  min-height: 260px;
  padding: 10px;
  box-sizing: border-box;
  margin-right: 2%;
  margin-top: 10px;
  transition: all 0.3s;
}

.contents__container .content a {
  display: block;
}

.contents__container .content p {
  height: 50px;
}

.contents__container .content:nth-child(3n) {
  margin-right: 0;
}

.contents__container .content:hover {
  transition: all 0.3s;
  transform: translateY(-3px);
  box-shadow: 0 0 10px 0 #ddd;
}

.form {
  width: 400px;
  margin: 80px auto;
  padding: 15px 40px;
  background: #fff;
  border-radius: 8px;
}

.form__title {
  text-align: center;
  font-size: 30px;
  color: #12157b;
}

.form__container {
  width: 80%;
  margin: 30px auto 20px;
}

.form__container label {
  display: inline-block;
  margin-bottom: 10px;
}

.form__container input[type=text],
.form__container input[type=password] {
  display: block;
  width: 100%;
  height: 50px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #12157b;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.form__container .pass_remind:hover {
  color: #12157b;
}

.postForm {
  border: 3px solid #12157b;
  background: #fff;
  padding: 20px 40px;
}

.postForm__container {
  margin-bottom: 30px;
}

.postForm__label {
  font-weight: bold;
  margin-bottom: 10px;
}

.postForm__label--must {
  background: #fe8a8b;
  border-radius: 2px;
  color: #fff;
  padding: 3px 5px;
  font-size: 10px;
  margin-left: 5px;
  vertical-align: middle;
}

.postForm__input {
  width: 100%;
  height: 45px;
  padding: 5px 10px;
  border: none;
  background: #f6f5f5;
  box-sizing: border-box;
}

.postForm__input--number {
  width: 35%;
  height: 40px;
  font-size: 14px;
  padding: 5px;
  border: none;
  background: #f6f5f5;
  box-sizing: border-box;
}

.postForm__textarea {
  width: 100%;
  padding: 5px 10px;
  border: none;
  background: #f6f5f5;
  box-sizing: border-box;
}

.postForm__select {
  font-size: 14px;
  padding: 10px;
  border: none;
  background: #f6f5f5;
  box-sizing: border-box;
}

.profileContainer {
  width: 100%;
  background: linear-gradient(#ebefef, #545556);
}

.profileContainer .profile {
  display: flex;
}

.profileContainer .profile__img {
  width: 150px;
  height: 150px;
}

.profileContainer .profile__img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profileContainer .profile__info {
  margin-left: 30px;
}

.profileContainer .profile__name {
  font-size: 24px;
  margin-bottom: 20px;
  color: #12157b;
}

.sidebarMypage {
  float: left;
  width: 240px;
  min-height: 400px;
  padding: 15px;
  background: #fff;
  box-sizing: border-box;
  margin-left: 40px;
}

.sidebarMypage a {
  display: block;
  margin-bottom: 30px;
  color: #12157b;
}

.sidebarMypage a:hover {
  text-decoration: underline;
}

.footer {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #12157b;
  color: #fff;
  font-size: 12px;
  padding: 5px;
}

.btnContainer {
  overflow: hidden;
  text-align: center;
  margin-bottom: 10px;
}

.btnContainer .btn {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  border: none;
  background: #12157b;
  border-radius: 3px;
  padding: 10px 15px;
  margin-top: 15px;
}

.btnContainer .btn--right {
  float: right;
}

.btnContainer .btn:hover {
  cursor: pointer;
}

.sns {
  font-size: 24px;
}

.mypageLink {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  border-radius: 3px;
  padding: 15px;
  background: #ea9906;
  margin-left: 15px;
}

.msgSlide {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background: rgba(122, 206, 230, 0.6);
  text-align: center;
  font-size: 16px;
  line-height: 40px;
}

.withdrawMsg {
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
}

.withdrawMsg p {
  margin-bottom: 15px;
}

.textRed {
  color: #d70808;
}

