html,
body {
  background: #eee;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 2px;
}

* {
  box-sizing: border-box;
}

