html,
body {
  width: 100%;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 2px;
}

a {
  color: #000;
  transition: 0.2s;
}

a:hover {
  transition: 0.2s;
}

.container_wrapper {
  background: #f6f5f5;
  width: 100%;
  overflow: hidden;
}

.site-width {
  width: 980px;
  margin: 0 auto;
  padding: 40px;
}

.area-msg {
  color: #d70808;
  padding-bottom: 15px;
}

.header {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  background: #12157b;
}

.header .site-width {
  width: 980px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  width: 100px;
  height: 70px;
}

.header__title img {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header .menu {
  display: flex;
  align-items: center;
}

.header .menu a {
  color: #fff;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 16px;
}

.header .menu a:hover {
  text-decoration: underline;
}

.form {
  width: 500px;
  margin: 80px auto;
  padding: 15px 40px;
  background: #fff;
  border-radius: 8px;
}

.form__title {
  text-align: center;
  font-size: 30px;
  color: #12157b;
}

.form__container {
  width: 80%;
  margin: 20px auto;
}

.form__container label {
  display: inline-block;
  margin-bottom: 10px;
}

.form__container input[type=text],
.form__container input[type=password] {
  display: block;
  width: 100%;
  height: 50px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #12157b;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.form__container .pass_remind:hover {
  color: #12157b;
}

.btn-container {
  overflow: hidden;
  text-align: center;
  margin-bottom: 10px;
}

.btn-container .btn {
  display: block;
  font-size: 20px;
  color: #fff;
  border: none;
  background: #12157b;
  border-radius: 3px;
  padding: 10px;
  margin-top: 15px;
}

.btn-container .btn--right {
  float: right;
}

