@import '../../styles/app.scss';
@import './dup-skeleton-default.m.scss';

:local {
  .root {
    max-width: 1194px;
    margin: 0 auto;
    padding: vw(10, 300);
    position: relative;
    overflow: hidden;

    @include mq($breakpoint: sm) {
      padding: vw(20, 561);
    }

    @include mq($breakpoint: md) {
      padding: vw(30, 769);
    }

    @include mq($breakpoint: lg) {
      padding: vw(30, 1194);
    }

    @include mq($breakpoint: xl) {
      padding: vw(30, 1350);
    }

    @include mq($breakpoint: xxl) {
      padding: vw(30, 1900);
    }
  }

  .skeleton {
    @extend .skeleton;
    margin: vw(15, 300) 0;

    @include mq($breakpoint: sm) {
      margin: vw(20, 561) 0;
    }

    @include mq($breakpoint: md) {
      margin: vw(25, 769) 0;
    }

    @include mq($breakpoint: lg) {
      margin: vw(25, 1194) 0;
    }

    @include mq($breakpoint: xl) {
      margin: vw(25, 1350) 0;
    }

    @include mq($breakpoint: xxl) {
      margin: vw(25, 1900) 0;
    }
  }

  .skeleton.title {
    height: vw(48, 300);

    @include mq($breakpoint: sm) {
      height: vw(60, 561);
    }

    @include mq($breakpoint: md) {
      height: vw(72, 769);
    }

    @include mq($breakpoint: lg) {
      height: vw(84, 1194);
    }

    @include mq($breakpoint: xl) {
      height: vw(84, 1350);
    }

    @include mq($breakpoint: xxl) {
      height: vw(84, 1900);
    }
  }

  .skeleton.thumbnail {
    margin: vw(30, 300) auto;
    padding-top: 60%;
    width: 80%;

    @include mq($breakpoint: sm) {
      margin: vw(35, 561) auto;
    }

    @include mq($breakpoint: md) {
      margin: vw(40, 769) auto;
    }

    @include mq($breakpoint: lg) {
      margin: vw(45, 1194) auto;
      width: 50%;
      padding-top: 40%;
    }

    @include mq($breakpoint: xl) {
      margin: vw(45, 1351) auto;
    }

    @include mq($breakpoint: xxl) {
      margin: vw(45, 71900) auto;
    }
  }
}
