@import '../../../../../sass/app.scss';

:local {
  .header {}

  .main {}

  .topic {
    background: $color_main;
    width: 100%;
  }

  .container {
    padding: 0 vw(10, 300);
    margin: 0 auto vw(50, 300);
    max-width: 1194px;

    @include mq($breakpoint: sm) {
      padding: 0 vw(20, 561);
      margin: 0 auto vw(60, 561);
    }

    @include mq($breakpoint: md) {
      padding: 0 vw(30, 769);
      margin: 0 auto vw(70, 769);
    }

    @include mq($breakpoint: lg) {
      padding: 0 vw(30, 1194);
      margin: 0 auto vw(80, 1194);
    }

    @include mq($breakpoint: xl) {
      padding: 0 vw(30, 1350);
      margin: 0 auto vw(80, 1350);
    }

    @include mq($breakpoint: xxl) {
      padding: 0 vw(30, 1900);
      margin: 0 auto vw(80, 1900);
    }
  }

  .group {
    margin-top: vw(50, 300);

    @include mq($breakpoint: sm) {
      margin-top: vw(60, 561);
    }

    @include mq($breakpoint: md) {
      margin-top: vw(70, 769);
    }

    @include mq($breakpoint: lg) {
      margin-top: vw(80, 1194);
    }

    @include mq($breakpoint: xl) {
      margin-top: vw(80, 1350);
    }

    @include mq($breakpoint: xxl) {
      margin-top: vw(80, 1900);
    }
  }

  .footer {}
}
