@import '../../styles/app.scss';

:local {
  .header {}

  .main {
    font-weight: bold;
    padding: vw(50, 300) 0;
    text-align: center;

    @include mq($breakpoint: sm) {
      padding: vw(60, 561);
    }

    @include mq($breakpoint: md) {
      padding: vw(70, 769);
    }

    @include mq($breakpoint: lg) {
      padding: vw(80, 1194);
    }

    @include mq($breakpoint: xl) {
      padding: vw(80, 1350);
    }

    @include mq($breakpoint: xxl) {
      padding: vw(80, 1900);
    }
  }

  .title {
    color: $color_main;
    font-size: vw(80, 300);

    @include mq($breakpoint: sm) {
      font-size: vw(100, 561);
    }

    @include mq($breakpoint: md) {
      font-size: vw(120, 769);
    }

    @include mq($breakpoint: lg) {
      font-size: vw(160, 1194);
    }

    @include mq($breakpoint: xl) {
      font-size: vw(160, 1350);
    }

    @include mq($breakpoint: xxl) {
      font-size: vw(160, 1900);
    }
  }

  .text {
    color: #fff;
  }

  .button {
    background: #fff;
    border: 1px solid $color_main;
    border-radius: 4px;
    color: $color_main;
    font-size: vw(16, 300);
    display: inline-block;
    padding: vw(8, 300) vw(40, 300);

    @include mq($breakpoint: sm) {
      font-size: vw(18, 561);
      padding: vw(10, 561) vw(60, 561);
    }

    @include mq($breakpoint: md) {
      font-size: vw(20, 769);
      padding: vw(10, 769) vw(80, 769);
    }

    @include mq($breakpoint: lg) {
      font-size: vw(24, 1194);
      padding: vw(10, 1194) vw(100, 1194);
    }

    @include mq($breakpoint: xl) {
      font-size: vw(24, 1350);
      padding: vw(10, 1350) vw(100, 1350);
    }

    @include mq($breakpoint: xxl) {
      font-size: vw(24, 1900);
      padding: vw(20, 1900) vw(100, 1900);
    }
  }

  .footer {}
}
