@import '../../styles/app.scss';
@import './dup-group-items.m.scss';

:local {
  .root {}

  .title {
    @extend .title;
  }

  .cards {
    @extend .cards;
    flex-direction: column;

    @include mq($breakpoint: sm) {}

    @include mq($breakpoint: md) {
      flex-direction: row;
    }

    @include mq($breakpoint: lg) {}

    @include mq($breakpoint: xl) {}

    @include mq($breakpoint: xxl) {}
  }

  .card {
    @extend .card;
    padding: vw(3, 300) 0;
    width: 100%;

    @include mq($breakpoint: sm) {
      padding: vw(3.5, 561) 0;
    }

    @include mq($breakpoint: md) {
      padding: vw(5, 769);
      width: calc(100% / 2);
    }

    @include mq($breakpoint: lg) {
      padding: vw(7.5, 1194);
    }

    @include mq($breakpoint: xl) {
      padding: vw(7.5, 1350);
    }

    @include mq($breakpoint: xxl) {
      padding: vw(7.5, 1900);
    }
  }

  .link {
    @extend .link;
  }
}
