@import '../../../../../sass/app.scss';
@import './dup-group-items.m.scss';

:local {
  .root {}

  .title {
    @extend .title;
  }

  .categories {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .category {
    padding: vw(5, 300);

    @include mq($breakpoint: sm) {
      padding: vw(7.5, 561);
    }
    @include mq($breakpoint: md) {
      padding: vw(10, 769);
    }
    @include mq($breakpoint: lg) {
      padding: vw(12.5, 1194);
    }
    @include mq($breakpoint: xl) {
      padding: vw(12.5, 1350);
    }
    @include mq($breakpoint: xxl) {
      padding: vw(12.5, 1900);
    }
  }
}
